<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Date Generator</title>
</head>
<body>
<div class="container">
    <header class='jumbotron'>
        <h2>Pretty Date</h2>
        <h4>{{ today }}</h4>
    </header>

    <div class="row">
        <form class="form-inline" action="/result" method="post">
          <div class="form-group col-lg-4">
            <input name="date" id='date' class='form-inline' type="date" required>
            <select name="style" id="style">
                <option value="0">yyyy-mm-dd</option>
                <option value="1">mm/dd/yyyy</option>
                <option value="2">Month day, year</option>
                <option value="3">Verbose</option>
                <option value="4">Break Internet</option>
            </select>
            <button type="submit" class="btn-primary">Compute</button>
          </div>
        </form>
    </div>

    <div class='well'>
        <!-- <a href="/" class="btn btn-primary">Home</a> -->
    <p>Input: {{ input }}</p>
    <p>Output: <strong>{{ prettyOutput }}</strong></p>
    </div>


        <div>
            <h1>Predefined Dates</h1>
            <div class='col-md-2'>
                <ul>
                    <h5>- yyyy-mm-dd -</h5>
                    {% for date in datesOut %}
                        <li>{{ date.prettyDate(0) }}</li>
                    {% else %}
                        <li><em>No dice.</em></li>
                    {% endfor %}
                </ul>
            </div>
            <div class='col-md-2'>
                <ul>
                    <h5>- mm-dd-yyyy -</h5>
                    {% for date in datesOut %}
                        <li>{{ date.prettyDate(1) }}</li>
                    {% else %}
                        <li><em>No dice.</em></li>
                    {% endfor %}
                </ul>
            </div>
            <div class='col-md-2'>
                <ul>
                    <h5>- Month-dd-yyyy -</h5>
                    {% for date in datesOut %}
                        <li>{{ date.prettyDate(2) }}</li>
                    {% else %}
                        <li><em>No dice.</em></li>
                    {% endfor %}
                </ul>
            </div>
            <div class='col-md-3'>
                <ul>
                    <h5>- I remember it well... -</h5>
                    {% for date in datesOut %}
                        <li>{{ date.prettyDate(3) }}</li>
                    {% else %}
                        <li><em>No dice.</em></li>
                    {% endfor %}
                </ul>
            </div>
            <div class='col-md-2'>
                <ul>
                    <h5>- No Dice -</h5>
                    {% for date in datesOut %}
                        <li>{{ date.prettyDate(4) }}</li>
                    {% else %}
                        <li><em>No dice.</em></li>
                    {% endfor %}
                </ul>
            </div>

        </div>


  </div>
</body>
</html>
